* {box-sizing:border-box}

body{
    margin: 10px auto;
    background-color: rgba(0, 0, 128, 1.0);
}

.navBarr{
    width: inherit;
}

.mainContainer{
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-content: center;
    grid-gap: 50px;
    width: inherit;
    min-width: 900px;
}

.pageHeader, .userContainer, .productContainer, .newsContainer{
    grid-row: 1/2;
    background-color: orangered;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

.pageHeader{
    margin-top: 30px;
    color: white;
    text-align: left;
    font-weight: bolder;
    font-size: 50px;
    background-color: inherit;
}

.userContainer{
    grid-row: 2/3;
}

.productContainer{
    grid-row: 3/4;
}

.newsContainer{
    grid-row: 4/5;
}

.childContainer{
    display: grid;
    grid-template-columns: auto 100%;
    background-color: #1f1b24;
    color: orange;
}

.contentHeading{
    grid-column: 1/2;
    height: inherit;
    /* box-shadow: 30px 0px 30px -15px orange; */
    border-right: 1px solid orange;
    font-size: 25px;
    width: 100px;
}

.header{
    text-align: left;
    width: 100px;
    padding-top: 10px;
}

.content{
    grid-column: 2/3;
    display: flex;
    /* height: inherit; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: min-content;
}

.content > div.childCard{
    margin: 10px;
}

.content > div.childCard:first-child{
    margin-left: 50px;
}

.childCard{
    background-color: #3e3449;
    width: 150px;
    height: 100px;
    color: orange;
    font-size: 20px;
    border-bottom: 5px solid orange;
    border-radius: 10px;
}

.cardValue{
    font-size: xx-large;
    padding: 10px;
    color: orangered;
}

/* div.mainContainer {
    margin-left: 300px;
    padding: 0px 10px;
} */

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    .mainContainer{margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* div.childContainer{
    width: 1100px;
} */