body{
    background-color: navy;
    background-image: url('img0.svg');
    background-repeat: no-repeat;
}

.img1{
    margin: 0px auto;
    min-width: 400px;
    max-width: 800px;
    height: 250px;
    background-color: navy;
    background-image: url('bgImg1.jpg');
    background-repeat: no-repeat;
    background-size: 850px 350px;
    border: 2px groove aliceblue;
    border-radius: 10px;
    padding: 15px 15px;
    box-shadow:10px 10px 30px black;
}

.img2{
    margin: 60px 10px;
    min-width: 400px;
    max-width: 500px;
    height: 250px;
    background-color: navy;
    background-image: url('bgImg2.jpg');
    background-repeat: no-repeat;
    background-size: 550px 300px;
    border: 2px groove aliceblue;
    border-radius: 10px;
    padding: 15px 15px;
    box-shadow:10px 10px 30px black;
}

.regForm{
    display: block;
    /* margin: 30px 600px; */
    margin: -380px 600px;
    color: navy;
    background-color: aliceblue;
    min-width: 850px;
    max-width: 1000px;
    height: 590px;
    text-align: center;
    border: 2px groove aqua;
    border-radius: 10px;
    padding: 12px 12px;
    font-weight: bold;
    box-shadow:10px 10px 30px black;
    background-image: linear-gradient(to top, rgba(0, 0, 255, 0.534), aliceblue);
}

fieldset{
    border: 2px groove aqua;
    border-radius: 10px;
    padding: 12px 12px;
}
.inpText, textarea,select {
    background-color: transparent;
    font-weight: bold;
    color: navy;
    text-align: center;
    padding:5px;
}
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: aliceblue;
    font-family: "Helvetica", arial, sans-serif;
    border:1px solid #ecf0f1;
    background:transparent;
    padding:5px;
    text-align: center;
    font-weight: bold;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: navy;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

::placeholder {
    color: navy;
    font-weight: 500;
}

input, textarea, input[type="date"], select{
    border: 2px groove navy;
    border-radius: 10px;
}

.address{
    position: relative;
    top: -25px;
}

input:focus, input:focus::placeholder, textarea:focus, textarea:focus::placeholder {
    background-color: navy;
    color: aliceblue;
    border-radius: 10px;
}

.team::after{
    background-color: aliceblue;
    color: navy;
    border-radius: 10px;
}

.button{
    position: relative;
    color: aliceblue;
    background-color: navy;
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    top: 15px;
    cursor: pointer;
}

.submitButton{
    position: relative;
    color: aliceblue;
    background-color: navy;
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    top: 15px;
    min-width: 300px;
    cursor: pointer;
}

.error{
    color: red;
    font-size: 15px;
    /* text-align: center; */
}

.dispPhp{
    position: absolute;
    border: 2px solid navy;
    border-radius: 20px;
    background-color: aliceblue;
    background-image: linear-gradient(to top, rgba(0, 0, 255, 0.534), aliceblue);
    color: navy;
    width: 510px;
    padding: 20px 20px;
    font-size:20px;
    top: 310px;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}